In [1]:
import numpy as np 
import pandas as pd

In [2]:
True_news = pd.read_csv("True.csv")
Fake_news = pd.read_csv("Fake.csv")

In [3]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
True_news['Label'] = 0
Fake_news['Label'] = 1

In [5]:
True_news

,title,text,subject,date,Label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [6]:
Fake_news

,title,text,subject,date,Label
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

## Data preprocessing

In [7]:
dataset1 = True_news[['text','Label']]
dataset2 = Fake_news[['text','Label']]

In [8]:
dataset1

                                                    text  Label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [9]:
dataset2

                                                    text  Label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [10]:
dataset = pd.concat([dataset1,dataset2])

In [11]:
dataset

                                                    text  Label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [12]:
dataset.shape

(44898, 2)

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44898 entries, 0 to 23480
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    44898 non-null  object
 1   Label   44898 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [14]:
#Checking for null values
dataset.isnull().sum()

text     0
Label    0
dtype: int64

In [15]:
dataset['Label'].value_counts()

Label
1    23481
0    21417
Name: count, dtype: int64

In [16]:
dataset = dataset.sample(frac =1)

In [17]:
dataset

                                                    text  Label
17840  BARCELONA (Reuters) - Catalan leader Carles Pu...      0
14461  HARARE (Reuters) - Zimbabwe President Robert M...      0
19358  Berlin (Reuters) - Germany said on Friday it h...      0
17300  Beau Biden   son of Vice President Joe Biden  ...      1
6902   When hatred takes human form, it looks a lot l...      1
...                                                  ...    ...
19480  The man suspended from his TV anchor job for f...      1
11914                                                         1
17804  AMSTERDAM (Reuters) - Outgoing Dutch Finance M...      0
9735   Things didn t go as well as Nicholle had hoped...      1
10030  The Obamas recently moved their oldest daughte...      1

[44898 rows x 2 columns]

## Importing NLP(natural Language Processing)

In [18]:
import nltk
import re

In [19]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [20]:
ps = WordNetLemmatizer()
stopwords = stopwords.words('english')

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Rudra\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
def clean_row(row):
    
    row = row.lower()
    row = re.sub('[^a-zA-Z]',' ',row)
    
    token = row.split()
    
    news = [ps.lemmatize(word) for word in token if not word in stopwords]
    cleaned_news = ' '.join(news)
    
    return cleaned_news

In [23]:
dataset['text']

17840    BARCELONA (Reuters) - Catalan leader Carles Pu...
14461    HARARE (Reuters) - Zimbabwe President Robert M...
19358    Berlin (Reuters) - Germany said on Friday it h...
17300    Beau Biden   son of Vice President Joe Biden  ...
6902     When hatred takes human form, it looks a lot l...
                               ...
19480    The man suspended from his TV anchor job for f...
11914
17804    AMSTERDAM (Reuters) - Outgoing Dutch Finance M...
9735     Things didn t go as well as Nicholle had hoped...
10030    The Obamas recently moved their oldest daughte...
Name: text, Length: 44898, dtype: object

In [24]:
dataset['text'] = dataset['text'].apply(lambda x : clean_row(x))

In [25]:
dataset['text']

17840    barcelona reuters catalan leader carles puigde...
14461    harare reuters zimbabwe president robert mugab...
19358    berlin reuters germany said friday ordered sec...
17300    beau biden son vice president joe biden died b...
6902     hatred take human form look lot like founder c...
                               ...
19480    man suspended tv anchor job faking news furiou...
11914
17804    amsterdam reuters outgoing dutch finance minis...
9735     thing go well nicholle hoped lashing owner bil...
10030    obamas recently moved oldest daughter malia do...
Name: text, Length: 44898, dtype: object

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
vectorizer = TfidfVectorizer(max_features=50000,lowercase = False,ngram_range=(1,2))

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [30]:
X

17840    barcelona reuters catalan leader carles puigde...
14461    harare reuters zimbabwe president robert mugab...
19358    berlin reuters germany said friday ordered sec...
17300    beau biden son vice president joe biden died b...
6902     hatred take human form look lot like founder c...
                               ...
3766     unsavory people donald trump appoints angrier ...
5699     seoul reuters u president donald trump defense...
17548    geneva reuters aung san suu kyi set plan new h...
15743    lusaka reuters zambian president edgar lungu w...
21539    company ashamed contributing company kill baby...
Name: text, Length: 35000, dtype: object

In [31]:
y

17840    0
14461    0
19358    0
17300    1
6902     1
        ..
3766     1
5699     0
17548    0
15743    0
21539    1
Name: Label, Length: 35000, dtype: int64

In [32]:
# Spliting the dataset into training and testing 
train_data, test_data, train_label_data, test_label_data = train_test_split(X, y, test_size=0.2, random_state=0)

In [33]:
train_data

14837    bucharest reuters romania expelled pro russian...
12411    nothing say thanksgiving family like room full...
9418     gotta love president ability send personal mes...
16147    london reuters iran reopen border crossing ira...
5203     reuters president donald trump opened door tue...
                               ...
12518    cub close indian win first series since mike m...
20038    washington reuters american citizen fighting i...
20068    video brilliantly dispels every one hillary fa...
5816     washington reuters ronald vitiello appointed c...
14095    anyone sick death pc politically correct talk ...
Name: text, Length: 28000, dtype: object

## Vectorizing the Data

In [34]:
vec_train_data = vectorizer.fit_transform(train_data)

In [35]:
vec_train_data

<28000x50000 sparse matrix of type '<class 'numpy.float64'>'
	with 5739074 stored elements in Compressed Sparse Row format>

In [36]:
vec_train_data = vec_train_data.toarray()

In [37]:
vec_test_data = vectorizer.fit_transform(test_data)

In [38]:
vec_test_data = vec_test_data.toarray()

In [39]:
vec_train_data.shape , vec_test_data.shape

((28000, 50000), (7000, 50000))

### Getting the Features (columns) to the textual data

In [40]:
final_train_data = pd.DataFrame(vec_train_data , columns = vectorizer.get_feature_names_out())
final_test_data = pd.DataFrame(vec_test_data , columns = vectorizer.get_feature_names_out())

In [41]:
final_train_data

,aa,aapl,aaron,aarp,ab,aba,abad,abadi,abadi said,abandon,...,zor,zor city,zor province,zucker,zuckerberg,zuckerberg said,zuma,zuma former,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Model - Naive Bayes

In [42]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
clf = MultinomialNB()

In [44]:
clf.fit(final_train_data,train_label_data)

MultinomialNB()

In [45]:
y_pred = clf.predict(final_test_data)

In [46]:
test_label_data

18055    1
21262    0
1082     1
6571     1
20094    1
        ..
3021     0
972      0
13838    0
1409     1
22465    1
Name: Label, Length: 7000, dtype: int64

In [47]:
y_pred

array([1, 1, 1, ..., 1, 0, 0], dtype=int64)

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
accuracy_score(test_label_data, y_pred)

0.6744285714285714

In [50]:
y_pred_train = clf.predict(final_train_data)
accuracy_score(train_label_data , y_pred_train)

0.9592857142857143

In [78]:
txt = '''The following statementsÃ‚Â were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Ã‚Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Together, we are MAKING AMERICA GREAT AGAIN! bit.ly/2lnpKaq [1814 EST] - In the East, it could be the COLDEST New YearÃ¢â‚¬â„¢s Eve on record. Perhaps we could use a little bit of that good old Global Warming that our Country, but not other countries, was going to pay TRILLIONS OF DOLLARS to protect against. Bundle up! [1901 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR) 
'''

In [79]:
news = clean_row(txt)

In [80]:
news

'following statement posted verified twitter account u president donald trump realdonaldtrump potus opinion expressed reuters edited statement confirmed accuracy realdonaldtrump together making america great bit ly lnpkaq est east could coldest new year eve record perhaps could use little bit good old global warming country country going pay trillion dollar protect bundle est source link bit ly jbh lu bit ly jpexyr'

In [81]:
predict = clf.predict(vectorizer.transform([news]).toarray())

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [82]:
predict

array([1], dtype=int64)

In [92]:
txt = input("Enter News: ")

news = clean_row(str(txt))

prediction = clf.predict(vectorizer.transform([news]).toarray())

if prediction == 0:
    print("News is correct ")
else:
    print ("News is fake")

Enter News: Clearly, Trump supporters want Fox News to lie to them.Because when Fox News host Shep Smith fact-checked Donald Trump s accusations against Hillary Clinton in regards to the Uranium One deal with Russia, they lost their shit.Smith thoroughly debunked Republican claims that Hillary Clinton approved the deal in a pay-to-play scam during her time as Secretary of State back in 2010.First, the deal had to be approved by a committee of nine agency heads, who unanimously approved.Second, the State Department was represented by an assistant who says Clinton did not intervene.Third, the Uranium One deal stipulates that the uranium must be sold to civilian reactor operators in the United States, which blows Trump s claim that Hillary gave 20 percent of our uranium to Russia out of the water.Fourth, one man gave the Clinton Foundation all but $4 million of the $140 million donated by nine individuals associated with Uranium One. And that one man had already sold his stake in the company years before in 2007, well before Clinton even thought about being Secretary of State. And long before Barack Obama became president to make her Secretary of State.And, finally, Clinton had no power to veto or approve the deal herself.So, that means conservatives have no case against Clinton, effectively neutering any effort by the Justice Department to appoint a special prosecutor since doing so is contingent on the facts. And the facts support Clinton. So much so, that any court would laugh the obviously manufactured charges out of court.Here s the video via YouTube.In response, Trump supporters threw a temper tantrum and called for Fox to fire Smith for reporting the facts.You need to get that hack @ShepNewsTeam out of Fox. He just made excuses for #CrookedHillary and is clearly a double agent. Hey Shep.. Hillary took the 145M regardless of when it was sent. Pay for play you goof  Lab Lover (@Dutchistheballs) November 14, 2017Chris Wallace and Shepard Smith should start a show on CNN called "Pink Hat Brigade" that's where you both belong. Shameful Fox, Get rid of these two asshats.  Matt Couch ? (@RealMattCouch) November 13, 2017@FoxNews if I wanted to see an unfactual and slanted view I would watch CNN. I can t watch Shepard Smith anymore. I m dont with that show. He is arrogant and clearly anti trump  Jim Hennahane (@limabean002) November 14, 2017And these are just a few of the MANY angry conservative tweets calling for Smith to be fired. However, a majority of the tweets came in support of Smith and his fact-based reporting, which blew apart the rest of the network s effort to spin the deal into a nefarious scandal proving that Hillary colluded with the Russians.Seriously.Shep Smith did his job as a journalist. Sean Hannity could certainly learn a lot from Smith. The Uranium One scandal being pushed by Trump and his minions has been repeatedly debunked. Conservatives are desperately attacking Clinton to distract from Trump s real scandals. But Smith refuses to lie to make Trump look good. And that s the real reason why Trump supporters hate him so much.Featured Image: Screenshot
News is fake

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(